@page "/home"
@page "/"

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <img src="logo-tr.png" asp-append-version="true" height="250" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2">The Pas v1.0</MudText>
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">
                Computer vision models can improve a wide range of farming applications – from monitoring crops and produce to livestock and aquaculture.
            </MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <div class="pa-4 justify-center my-4 mud-text-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://github.com/adibfar/SouthDakota-PrecisionAgriculture" Target="_blank">Project Page</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="https://www.linkedin.com/in/adibfar/" Target="_blank">Linked in</MudButton>
            </div>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudExpansionPanels>
                <MudExpansionPanel Text="Getting Started" MaxHeight="150">
                    Increase you are stuck anywhere or have any queries regarding this implementation, I have compiled a Quick Start Guide for you reference.
                    <MudButton Variant="Variant.Text" DisableElevation="true" Color="Color.Secondary" Link="https://github.com/adibfar/SouthDakota-PrecisionAgriculture" Target="_blank">Read The Guide</MudButton>
                </MudExpansionPanel>
                <MudExpansionPanel Text="Important Links" MaxHeight="500">
                    <MudList Clickable="true">
                        <MudListItem Text="Github Repository : Do Not Forget to Leave a Star ;)" Href="https://github.com/adibfar/SouthDakota-PrecisionAgriculture" />
                        <MudListItem Text="Quick Start Guide" Href="https://github.com/adibfar/SouthDakota-PrecisionAgriculture" />
                    </MudList>
                </MudExpansionPanel>
                <MudExpansionPanel Text="Learning Resources" MaxHeight="1000">
                    Here are few articles that should help you get started with Blazor.
                    <MudList Clickable="true">
                        <MudListItem Text="Blazor For Beginners – Getting Started With Blazor" Href="https://codewithmukesh.com/blog/getting-started-with-blazor/" />
                        <MudListItem Text="Exploring Blazor Project Structure" Href="https://codewithmukesh.com/blog/exploring-blazor-project-structure/" />
                        <MudListItem Text="Onion Architecture In ASP.NET Core With CQRS – Detailed" Href="https://codewithmukesh.com/blog/onion-architecture-in-aspnet-core/" />
                        <MudListItem Text="How To Implement Blazor CRUD Using Entity Framework Core?" Href="https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-core/" />
                        <MudListItem Text="Custom Authentication In Blazor WebAssembly – Detailed" Href="https://codewithmukesh.com/blog/authentication-in-blazor-webassembly/" />
                        <MudListItem Text="Implementing Blazor CRUD Using Mudblazor Component Library In .NET 5" Href="https://codewithmukesh.com/blog/blazor-crud-using-mudblazor/" />
                        <MudListItem Text="Building A Chat Application With Blazor, Identity, And SignalR" Href="https://codewithmukesh.com/blog/realtime-chat-application-with-blazor/" />
                    </MudList>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
        <div style="margin:50px"></div>
    </MudGrid>
</MudContainer>